;; cljfmt configuration - https://github.com/weavejester/cljfmt
;; check with `clojure -Sdeps '{:deps {cljfmt {:mvn/version "0.9.2"}}}' -m cljfmt.main check`
;; run with `clojure -Sdeps '{:deps {cljfmt {:mvn/version "0.9.2"}}}' -m cljfmt.main fix`
;; for reference see https://guide.clojure.style/
;; TODO find/build fast executable for this
;; TODO integrate into intellij workflow like https://github.com/cursive-ide/cursive/issues/1403#issuecomment-1213449367
{:split-keypairs-over-multiple-lines? true
 :sort-ns-references?                 true}