.clj-kondo/**
!.clj-kondo/config.edn
.cpcache/
.datomic-ions/
.datomic-local/
.nrepl-port

# IntelliJ related
*.ipr
*.iws
*.iml
.idea/*
!.idea/runConfigurations

# CDK asset staging directory
.cdk.staging
cdk.out

# Builds & coverage reports
target

.DS_Store

tx-log.edn
