.clj-kondo/**
!.clj-kondo/config.edn
.cpcache/
.datomic-ions/
.datomic-local/
.idea/
.nrepl-port
*.iml

# CDK asset staging directory
.cdk.staging
cdk.out

# Builds & coverage reports
target

.DS_Store
