{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure              {:mvn/version "1.11.1"}
           com.datomic/dev-local            {:mvn/version "1.0.243"}
           org.clojure/data.csv             {:mvn/version "1.0.1"}
           io.aviso/pretty                  {:mvn/version "1.1.1"}
           com.walmartlabs/lacinia          {:mvn/version "1.1"}
           com.walmartlabs/lacinia-pedestal {:mvn/version "1.1"}
           ch.qos.logback/logback-classic   {:mvn/version "1.2.11"}
           ch.qos.logback/logback-core      {:mvn/version "1.2.11"}
           io.pedestal/pedestal.log         {:mvn/version "0.5.10"}
           nottmey/datomic-lacinia          {:git/url "https://github.com/nottmey/datomic-lacinia"
                                             :git/sha "eda51b4b0f9f45d0f9986ad08759f56ce37aae92"}}
 :aliases {:repl {:extra-paths ["repl"]}}}