#kaocha/v1 #meta-merge [{:plugins        [:kaocha.plugin/cloverage]
                         :cloverage/opts {:codecov?         true
                                          :ns-exclude-regex ["user"
                                                             "cdk.*"]}
                         :tests          [{:id          :unit
                                           :ns-patterns [""]
                                           :test-paths  ["src"]}]}]