#kaocha/v1 #meta-merge [{:plugins        [:kaocha.plugin/cloverage]
                         :cloverage/opts {:codecov?         true
                                          :exclude-call     [clojure.test/deftest]
                                          :ns-exclude-regex ["user"
                                                             "ai.*"
                                                             "cdk.*"
                                                             "datomic.cloud-import"]}
                         :tests          [{:id          :unit
                                           :ns-patterns [""]
                                           :test-paths  ["src"
                                                         "test"]}]}]
