[#:platform{:name "Climate Change",
            :description
            "This boundary is quantified by atmospheric carbon dioxide concentration and radiative forcing, both of which are related to greenhouse gas emissions. Exceeding this boundary can lead to abrupt and irreversible climate changes.",
            :id #uuid "b50ed0a0-dbe5-492b-b542-d2585bd1070c"}
 #:platform{:name "Freshwater Use",
            :description
            "Freshwater is a limited resource essential for human survival and ecosystem functioning. Over-extraction of freshwater can lead to reduced river flows, groundwater depletion, and loss of wetlands.",
            :id #uuid "fd273fd3-2466-4ae6-b688-afdd51da07a5"}
 #:platform{:name "Biodiversity Loss",
            :description
            "Biodiversity plays a crucial role in maintaining ecosystem functioning and resilience. Crossing this boundary can lead to the collapse of ecosystems, loss of ecosystem services, and reduced food security.",
            :id #uuid "584668e7-daf7-48c5-93b1-995e6ebd50a5"}
 #:platform{:name "Ocean Acidification",
            :description
            "This refers to the decrease in the pH of the Earth's oceans due to the uptake of anthropogenic carbon dioxide. Crossing this boundary threatens marine ecosystems, particularly coral reefs, and can disrupt ocean food webs.",
            :id #uuid "e0063d02-2deb-41e1-85c7-a1ab403d54f7"}
 #:platform{:name "Stratospheric Ozone Depletion",
            :description
            "The ozone layer protects the Earth's surface from harmful ultraviolet radiation. Exceeding this boundary can lead to increased incidence of skin cancer, reduced crop yields, and disruptions in marine ecosystems.",
            :id #uuid "9ec8e303-f5db-4ed8-a283-626a9a393790"}
 #:platform{:name "Chemical Pollution",
            :description
            "This boundary pertains to the release of synthetic chemicals, heavy metals, and radioactive materials into the environment. Crossing this boundary can result in toxic effects on ecosystems and human health, as well as the potential for bioaccumulation and long-term impacts.",
            :id #uuid "4af94286-f03f-4757-a612-15726fc3a935"}
 #:platform{:name "Nitrogen and Phosphorus Cycles",
            :description
            "These biogeochemical cycles are essential for maintaining the productivity of ecosystems. Excessive release of nitrogen and phosphorus, primarily from agricultural activities, can lead to eutrophication, dead zones in oceans, and loss of biodiversity.",
            :id #uuid "497aedb1-58ef-4ba8-b3e4-db55df4be4f6"}
 #:platform{:name "Land-System Change",
            :description
            "This boundary focuses on the loss of natural habitats, particularly forests, due to agriculture, urbanization, and infrastructure development. Crossing this boundary can result in biodiversity loss, reduced carbon storage, and disrupted water cycles.",
            :id #uuid "c7a1fbef-7dcb-4b49-b61b-3032c64bc486"}
 #:platform{:name "Atmospheric Aerosol Loading",
            :description
            "Aerosols, tiny particles suspended in the atmosphere, can affect climate, ecosystems, and human health. Exceeding this boundary can lead to climate change, air pollution, and disruptions in the hydrological cycle.",
            :id #uuid "668f4c22-fea4-4ddb-bedc-7e462bb8e8bb"}]
