{:app-name "climate-platform"
 :lambdas  {:hello-world {:fn ions.lambdas/hello-world}
            :get-schema  {:fn          ions.lambdas/get-schema
                          :description "demo function for example deployment"}}}
