{:app-name "climate-platform"
 :lambdas  {:datomic-resolver {:fn          ions.lambdas/datomic-resolver
                               :description "Resolves all GraphQL requests to the datomic data source."}}}
