{:server-type :ion
 :region      "eu-central-1"
 :system      "climate-platform"
 ; ClientApiGatewayEndpoint output from cloudformation stack
 :endpoint    "https://lq9ksphsr1.execute-api.eu-central-1.amazonaws.com"}