{:server-type :ion
 :region      "eu-central-1"
 :system      "climate-ideas"
 ; ClientApiGatewayEndpoint output from cloudformation stack
 :endpoint    "https://g96u70pn2b.execute-api.eu-central-1.amazonaws.com"}