[{:db/id "txid-Breakdown",
  :graphql.type/name "Breakdown",
  :graphql.type/collection
  #:db{:id "txid-Breakdown-collection",
       :doc "Entity collection of initial type 'Breakdown'."},
  :graphql.type/fields
  [{:db/id "txid-Breakdown/parent",
    :graphql.field/name "parent",
    :graphql.field/target "txid-DataPoint",
    :graphql.field/attribute :breakdown/parent,
    :graphql.field/backwards-ref? false}
   {:db/id "txid-Breakdown/components",
    :graphql.field/name "components",
    :graphql.field/target "txid-DataPoint",
    :graphql.field/attribute :breakdown/data-points,
    :graphql.field/backwards-ref? false}]}
 {:db/id "txid-DataPoint",
  :graphql.type/name "DataPoint",
  :graphql.type/collection
  #:db{:id "txid-DataPoint-collection",
       :doc "Entity collection of initial type 'DataPoint'."},
  :graphql.type/fields
  [{:db/id "txid-DataPoint/value",
    :graphql.field/name "value",
    :graphql.field/attribute :platform/value}
   {:db/id "txid-DataPoint/quantifications",
    :graphql.field/name "quantifications",
    :graphql.field/target "txid-Quantification",
    :graphql.field/attribute :quantification/data-points,
    :graphql.field/backwards-ref? true}
   {:db/id "txid-DataPoint/breakdowns",
    :graphql.field/name "breakdowns",
    :graphql.field/target "txid-Breakdown",
    :graphql.field/attribute :breakdown/parent,
    :graphql.field/backwards-ref? true}
   {:db/id "txid-DataPoint/compositions",
    :graphql.field/name "compositions",
    :graphql.field/target "txid-Breakdown",
    :graphql.field/attribute :breakdown/data-points,
    :graphql.field/backwards-ref? true}]}
 {:db/id "txid-PlanetaryBoundary",
  :graphql.type/name "PlanetaryBoundary",
  :graphql.type/collection
  #:db{:id "txid-PlanetaryBoundary-collection",
       :doc "Entity collection of initial type 'PlanetaryBoundary'."},
  :graphql.type/fields
  [{:db/id "txid-PlanetaryBoundary/description",
    :graphql.field/name "description",
    :graphql.field/attribute :platform/description}
   {:db/id "txid-PlanetaryBoundary/quantifications",
    :graphql.field/name "quantifications",
    :graphql.field/target "txid-Quantification",
    :graphql.field/attribute :planetary-boundary/quantifications,
    :graphql.field/backwards-ref? false}
   {:db/id "txid-PlanetaryBoundary/name",
    :graphql.field/name "name",
    :graphql.field/attribute :platform/name}]}
 {:db/id "txid-Quantification",
  :graphql.type/name "Quantification",
  :graphql.type/collection
  #:db{:id "txid-Quantification-collection",
       :doc "Entity collection of initial type 'Quantification'."},
  :graphql.type/fields
  [{:db/id "txid-Quantification/name",
    :graphql.field/name "name",
    :graphql.field/attribute :platform/name}
   {:db/id "txid-Quantification/planetaryBoundaries",
    :graphql.field/name "planetaryBoundaries",
    :graphql.field/target "txid-PlanetaryBoundary",
    :graphql.field/attribute :planetary-boundary/quantifications,
    :graphql.field/backwards-ref? true}
   {:db/id "txid-Quantification/name",
    :graphql.field/name "name",
    :graphql.field/attribute :platform/name}
   {:db/id "txid-Quantification/dataPoints",
    :graphql.field/name "dataPoints",
    :graphql.field/target "txid-DataPoint",
    :graphql.field/attribute :quantification/data-points,
    :graphql.field/backwards-ref? false}]}]
